/*footer logo mobile responsive*/
.bnwp-footer-brand-logo {
    width: 42px !important;
    height: auto !important;
    max-width: 42px !important;
    display: inline-block !important;
    flex-shrink: 0;
}
/*front page mobile responsive*/
@media (max-width: 576px) {
    main .container {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
}